In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

#데이터 로드
raw = pd.read_csv('C:/Users/user/Desktop/internship/project/data/머신러닝/dongjak_input.csv', encoding ='euc-kr')

file_data = raw.iloc[:, 5:13]
file_data

     culture  build1  build2  build3  build4  build5  build6  build7
0          0       0       0       0       0       1       4       0
1          0       3       0       0      16       1      13       1
2          0       0       0       0       0       0       0       0
3          0       0       0       0       0       0       0       0
4          0       2       0       0       0       0       2       1
..       ...     ...     ...     ...     ...     ...     ...     ...
131        0       7       0       0       0       2      49       0
132        0       2       1       0       0       0      65       0
133        0       2       0       0       0       0      20       1
134        0       0       0       0       0       0       0       0
135        0       0       0       0       0       0       0       0

[136 rows x 8 columns]

In [3]:
scaler = MinMaxScaler()
scaler.fit(file_data)
x = scaler.transform(file_data)
dongjak = pd.DataFrame(x,columns=['culture','build1','build2','build3','build4','build5','build6','build7'])
dongjak

     culture    build1    build2  build3  build4  build5    build6  build7
0        0.0  0.000000  0.000000     0.0     0.0   0.125  0.023121    0.00
1        0.0  0.214286  0.000000     0.0     1.0   0.125  0.075145    0.25
2        0.0  0.000000  0.000000     0.0     0.0   0.000  0.000000    0.00
3        0.0  0.000000  0.000000     0.0     0.0   0.000  0.000000    0.00
4        0.0  0.142857  0.000000     0.0     0.0   0.000  0.011561    0.25
..       ...       ...       ...     ...     ...     ...       ...     ...
131      0.0  0.500000  0.000000     0.0     0.0   0.250  0.283237    0.00
132      0.0  0.142857  0.045455     0.0     0.0   0.000  0.375723    0.00
133      0.0  0.142857  0.000000     0.0     0.0   0.000  0.115607    0.25
134      0.0  0.000000  0.000000     0.0     0.0   0.000  0.000000    0.00
135      0.0  0.000000  0.000000     0.0     0.0   0.000  0.000000    0.00

[136 rows x 8 columns]

In [5]:
dongjak['pc1'] = -0.243*dongjak['culture']-0.444*dongjak['build1']-0.122*dongjak['build2']-0.27*dongjak['build3']-0.256*dongjak['build4']-0.341*dongjak['build5']-0.666*dongjak['build6']-0.172*dongjak['build7']
dongjak['pc2'] = 0.469*dongjak['culture']-0.201*dongjak['build1']-0.326*dongjak['build2']+0.344*dongjak['build3']+0.523*dongjak['build4']-0.393*dongjak['build6']+0.296*dongjak['build7']
dongjak['pc3'] = 0.131*dongjak['culture']+0.353*dongjak['build1']+0.188*dongjak['build2']-0.754*dongjak['build3']+0.442*dongjak['build4']-0.139*dongjak['build5']-0.146*dongjak['build6']+0.138*dongjak['build7']
dongjak['pc4'] = -0.292*dongjak['culture']+0.685*dongjak['build1']-0.118*dongjak['build2']+0.261*dongjak['build3']+0.248*dongjak['build5']-0.513*dongjak['build6']-0.195*dongjak['build7']

df2 = dongjak.iloc[:,8:]
df2
df2.to_csv('C:/Users/user/Desktop/internship/project/data/머신러닝/dongjak_preprocessing.csv', encoding='euc-kr')